<div class="banner">
  <div class="slider" style="--quantity: 10">
    <div class="item" style="--position: 1">
      <img src="assets/img/1. abiy-ahmed.png" alt="Abiy Ahmed">
    </div>
    <div class="item" style="--position: 2">
      <img src="assets/img/2. hailemariam-des.png" alt="hailemariam Desalegn">
    </div>
    <div class="item" style="--position: 3">
      <img src="assets/img/3. Melese-Zenawi.png" alt="Melese Zenawi">
    </div>
    <div class="item" style="--position: 4">
      <img src="assets/img/4. mengistu-hailemariam.png" alt="Mengistu Hailemariam">
    </div>
    <div class="item" style="--position: 5">
      <img src="assets/img/5. haileselasi.png" alt="King Haileselasi">
    </div>
    <div class="item" style="--position: 6">
      <img src="assets/img/6. empress-zewdit.png" alt="Empress Zewdit">
    </div>
    <div class="item" style="--position: 7">
      <img src="assets/img/7. lij-eyasu.png" alt="Lij Eyasu">
    </div>
    <div class="item" style="--position: 8">
      <img src="assets/img/8. emperor-menelikk II.png" alt="Emperor Menelikk II">
    </div>
    <div class="item" style="--position: 9">
      <img src="assets/img/9. atse-tewodros.png" alt="Atse Tewodros">
    </div>
    <div class="item" style="--position: 10">
      <img src="assets/img/10. Emperor_Tekle_Giyorgis_II.png" alt="Emperor Tekle Giyorgis II">
    </div>
  </div>

  <div class="content">
    <h1 data-content="ETHIOPIA">ETHIOPIA</h1>
    <div class="author">
      <h2>BiniTutor</h2>
      <p><b>3D Web Design</b></p>
      <p>Like and Subscribe</p>
    </div>
    <div class="model"></div>
  </div>
</div>
<router-outlet />